@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-black
    }
    .dropdown-item {
        position: relative;
    }
    .dropdown-item i{
        border-width: 8px;
        border-style: solid;
        border-color: red;
        border-right-color: transparent;
        width: 8px;
        border-left-width: 0;
        border-bottom: none;
        position: absolute;
    }
}
