@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
       overflow: hidden;
       background-color: rgb(4 4 4 / 99%);
    }
    .dropdown-item {
        position: relative;
    }
    .dropdown-item i{
        border-width: 8px;
        border-style: solid;
        border-color: red;
        border-right-color: transparent;
        width: 8px;
        border-left-width: 0;
        border-bottom: none;
        position: absolute;
    }

    .font-mono{
        font-family: monospace;
    }


   .btn-toggle.active span {
        top: 30px;
    }
    .btn-toggle {
        position: relative;
        width: 30px;
        height: 60px;
        -webkit-appearance: none;
        /* background: linear-gradient(0deg, #1e1e1e, #000); */
        outline: none;
        border-radius: 20px;
        /* box-shadow: 0 0 0 2px #1c1c1c, 0 0 0 3px #222222, inset 0 0 10px rgb(0 0 0); */
        box-shadow:  0 0 0 1px #222222;
    }
    .btn-toggle span{
        position:absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background: linear-gradient(180deg, #000, #2a2a2a);
        border-radius: 20px;
        /* box-shadow: 0 0 0 1px #232323; */
        transform: scale(.98,.96);
        transition:.5s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input:checked[type="checkbox"]:after {
        left:110px;
    }

    .header-animate {
        --color-purple: #8000ff;
        --color-light-purple: #cf59e6;
        --color-light-blue: #6bc5f8;
        background: -webkit-linear-gradient(135deg,var(--color-light-blue),var(--color-light-purple),var(--color-light-blue),var(--color-light-purple));
        background: linear-gradient(-45deg,var(--color-light-blue),var(--color-light-purple),var(--color-light-blue),var(--color-light-purple));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400% 400%;
        -webkit-animation: gradient 3s ease infinite;
        animation: gradient 3s ease infinite;
    }


    @keyframes rott {
        to {
            transform: rotateX(-360deg) rotateY(0deg) rotateZ(0deg);
        }
    }
    
    @keyframes gradient {
        0% {
            background-position: 0 50%
        }

        50% {
            background-position: 100% 50%
        }

        to {
            background-position: 0 50%
        }
    }
}
